body {
  background-color: #e3d7f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border: 3px solid #bba0d3;
  border-radius: 10px;
  background-color: #f0e4ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.city {
  color: #76448a;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.emojitemp {
  font-size: 50px;
  text-align: center;
  color: #512e5f;
  margin-top: 10px;
}

.others {
  color: #85609c;
  text-align: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.searchtools {
  text-align: center;
  margin-top: 30px;
}

#city-input {
  box-sizing: border-box;
  border: 2px solid #bba0d3;
  border-radius: 20px;
  padding: 12px;
  width: 70%;
  font-size: 18px;
  margin: 0 auto; /* 가운데 정렬을 위해 margin 값을 auto로 설정 */
  display: block; /* block 요소로 설정하여 화면에서 가로 폭을 차지하도록 함 */
}

button {
  background-color: #a569bd;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #d2b4de;
}

footer {
  padding: 20px;
  background-color: #512e5f;
  color: white;
  text-align: center;
  width: 100%;
}

a:hover,
a:active {
  color: #d2b4de;
}
